<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ReqOneApiSOAP" maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://api.requirementone.com/RequirementOneApiSOAP.svc"
          binding="basicHttpBinding" bindingConfiguration="ReqOneApiSOAP"
          contract="ReqOneApi.IReqOneApi" name="ReqOneApiSOAP" />
    </client>
  </system.serviceModel>
</configuration>