<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <appSettings>
    <add key="ReqOneResourcesApiAddress" value="https://api.requirementone.com" />
    <add key="ReqOneLoginUrl" value="https://api.requirementone.com/Web/Login.aspx"/>

    <!--for localhost-->
    <add key="ReqOneAppKey" value="2764C92C-F86E-4DE2-A335-CBA204F5BCD0"/>
    <add key="ReqOneAppSecret" value="515DAE13-0006-486E-B6A6-1C64F6452856"/>
    <add key="MaxSearchResults" value="25" />

  </appSettings>
  
  <system.web>
    
    <compilation debug="true" targetFramework="4.0" />
    
    <authentication mode="Forms">
      <forms loginUrl="R1EditData.aspx" ticketCompatibilityMode="Framework40" timeout="120"></forms>
    </authentication>
    
    <authorization>
      <deny users="?"/>
    </authorization>
    <httpRuntime maxRequestLength="51200" executionTimeout="500"/>
  </system.web>
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ReqOneApiSOAP" maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://api.requirementone.com/RequirementOneApiSOAP.svc"
          binding="basicHttpBinding" bindingConfiguration="ReqOneApiSOAP"
          contract="ReqOneApi.IReqOneApi" name="ReqOneApiSOAP" />
    </client>
  </system.serviceModel>
  
</configuration>
